{% load movie_tag %}
{% load static %}
{% for review in reviews %}
    <div class="media py-5">
        <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image"
             style="outline: none; cursor: inherit;">
        <div class="media-body mt-4">
            <h5 class="mt-0 editContent"
                style="outline: none; cursor: inherit;">{{ review.name }}</h5>
            <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                {{ review.text }}
            </p>
            <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')"> Відповісти</a>
            {% get_inner_reviews review %}
        </div>
    </div>
{% endfor %}