{% load static %}
{% for inner_review in inner_reviews %}
    <div class="media mt-5 editContent"
         style="outline: none; cursor: inherit;">
        <a class="pr-3" href="#">
            <img src="{% static 'images/te1.jpg' %}" class="img-fluid "
                 alt="image" style="outline: none; cursor: inherit;">
        </a>
        <div class="media-body">
            <h5 class="mt-0 editContent"
                style="outline: none; cursor: inherit;">{{ inner_review.name }}</h5>
            <p class="mt-2 editContent"
               style="outline: none; cursor: inherit;"> {{ inner_review.text }}</p>
        </div>
    </div>
{% endfor %}